# Proteus
*.workspace
/**/Project Backups/

# Qt
*.user
/**/build-*/

# CLion
/**/.idea/
/**/cmake-build-*/

# VS
/**/.vs
Debug/
Release/
bin/
obj/
app.db
app.db-*

# VS Code
settings.json

# Keil
Objects/
Listings/

# Node.js
package-lock.json

# Notepad++
*.bak

# Teamwork
EventTeamwork/

# StationSimulatorGame
StationSimulatorGame/

# KPZ
/KPZ/

# Java
build/
out/
*.class
.gradle/
gradle/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
